@charset "utf-8";
@media screen and (max-width:670px){
	.navi, .menu{
		height:80px ;
		display:none;
	}
	body{
		padding-top:91px;	
	}
	header{
		position: fixed;
    		z-index: 1000;
    		top:0;
    		width:100%;
	}
	.header-title{
		display:none;
	}
	header i{
		display:block;	
	}
	.gallery-main{
		height:1050px;	
	}
	.top{
		background-position:25%;
		height:350px;
	}
	.menu a{
		line-height: 80px;
		font-size: 26px;
	}
	.home-menu-title{
		font-size: 26px;
	}
	.gallery-title{
		font-size:28px;	
	}
	.gallery-card{
		float:none;	
	}
	footer p{
		width:90%;
		margin:0 auto;
		font-size:12px;
	}
}
